@import '../fonts/fonts.module.scss';
@import '../colors/colors.module.scss';

.Section {
    width: auto;
    min-height: calc(100dvh - 5rem);
    background-color: $background-color;
    padding: 2.5rem 0;  
}

