@import '@templates/default/components/fonts/fonts.module.scss';
@import '@templates/default/components/colors/colors.module.scss';

.Section {
    width: auto;
    min-height: calc(100dvh - 5rem);
    background-color: $background-color;
    padding: 2.5rem 0;  
}

