@import "../fonts/fonts.module.scss";
@import "../colours/colors.module.scss";

.DefaultNavBar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: $background-color;
    height: 5rem;

    &_landingPageBtn {
        all: unset;
        @include poppins-medium(30px);
        color: $nav-btn-color;
        cursor: pointer;
    }

    & ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: $background-color;

        & li {
            position: relative;
            list-style: none;
            height: 4rem;
            display: flex;

            & button {
                all: unset;
                position: relative;
                @include poppins-medium(18px);
                width: 100%;
                padding: 0 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $nav-btn-color;
                cursor: pointer;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0.25rem;
                    background-color: $nav-btn-hover-color;
                    left: 0;
                    bottom: 0;
                    transition: width 0.2s ease-in-out;
                }

                &:hover {
                    color: $nav-btn-hover-color;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .DefaultNavBar {
        & ul {
            position: absolute;
            width: 50%;
            top: 100%;
            right: 0;
            flex-flow: column nowrap;
            align-items: stretch;
            gap: 0;

            & li {
                & button {
                    transition: color 0.2s ease-in-out;
                    &::after {
                        all: unset;
                    }

                    &:hover {
                        color: $nav-btn-hover-color;
                    }
                }
            }
        }
    }
}
