@import "@templates/default/components/colors/colors.module.scss";
@import "@templates/default/components/fonts/fonts.module.scss";

.Banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid $secondary-color;
    border-radius: 30px;
    width: 12.5rem;
    gap: .25rem;

    & svg {
        color: $primary-color;
        font-size: x-large;
    }

    &_title {
        @include poppins-bold(1rem);
        color: $primary-color;
    }

    &_detail {
        @include poppins-medium(.75rem);
        color: $secondary-color;
    }
}

