@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Poppins font-family */
$font-family: "Poppins", sans-serif;

/* Poppins font-family */
$font-style: normal;

/* Poppins font-weight */
$poppins100: 100;
$poppins200: 200;
$poppins300: 300;
$poppins400: 400;
$poppins500: 500;
$poppins600: 600;
$poppins700: 700;
$poppins800: 800;
$poppins900: 900;

/* Poppins Mixins */
@mixin poppins-thin($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins100;
}

@mixin poppins-extralight($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins200;
}

@mixin poppins-light($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins300;
}

@mixin poppins-regular($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins400;
}

@mixin poppins-medium($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins500;
}

@mixin poppins-semibold($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins600;
}

@mixin poppins-bold($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins700;
}

@mixin poppins-extrabold($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins800;
}

@mixin poppins-black($font-size: 16px) {
    font-family: $font-family;
    font-style: $font-style;
    font-size: $font-size;
    font-weight: $poppins900;
}