@import "@templates/default/components/colors/colors.module.scss";
@import "@templates/default/components/fonts/fonts.module.scss";
@import "@templates/default/components/mixin/mixin.module.scss";

.ProjectBanner {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 0;
    width: min(20rem, 90%);
    border: 2px solid $secondary-color;
    border-radius: 30px;

    &_image {
        width: 80%;
        aspect-ratio: 1/1;
        border-radius: 30px;
    }

    &_name {
        position: relative;
        @include poppins-bold(1.5rem);
        color: $primary-color;
        text-align: center;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_buttonsWrapper {
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & button {
            @include poppins-semibold(0.9rem);
            width: 45%;
            color: $primary-color;
            border: 2px solid $secondary-color;
            border-radius: 30px;
            background-color: transparent;
            padding: 0.75rem;
            cursor: pointer;
            transition:
                background-color 0.2s ease-in-out,
                color 0.3s ease-in-out,
                border 0.3s ease-in-out;

            &:hover {
                background-color: $primary-color;
                color: $background-color;
                border: 2px solid $primary-color;
            }
        }
    }
}
