@import "@templates/default/components/colors/colors.module.scss";
@import "@templates/default/components/fonts/fonts.module.scss";
@import "@templates/default/components/mixin/mixin.module.scss";

.ContactBanner {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    border: 2px solid $secondary-color;
    padding: 1.25rem;
    border-radius: 30px;
    width: min(28rem, 80%);

    &_contactWrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.75rem;

        & svg {
            color: $background-color;
            font-size: 1rem;
            background-color: $primary-color;
            padding: 0.75rem;
            border-radius: 30px;
        }

        & span, & a {
            position: relative;
            @include poppins-medium;
            color: $primary-color;
            display: flex;
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;
                bottom: -0.1rem;
                width: 0;
                background-color: $secondary-color;
                height: 0.1rem;
                transition: width 0.2s ease-in-out;
            }

            &:hover {
                color: $secondary-color;

                &::after {
                    width: 100%;
                }
            }
        }

        & a {
            &::after {
                height: 0.1rem;
            }
        }
    }
}
