@import "@templates/default/components/colors/colors.module.scss";
@import "@templates/default/components/fonts/fonts.module.scss";
@import "@templates/default/components/mixin/mixin.module.scss";

.Home {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 !important;

    &_image {
        width: min(20rem, 80%);
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }

    &_introWrapper {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        &_greeting {
            @include poppins-semibold(1.9rem);
            color: $secondary-color;
        }

        &_name {
            @include poppins-bold(1.9rem);
            color: $primary-color;
            white-space: nowrap;
        }

        &_workType {
            @include poppins-semibold(1.8rem);
            letter-spacing: 0px;
            color: $secondary-color;
        }

        &_buttonWrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & button,
            a {
                @include poppins-semibold(0.9rem);
                margin: 0.5rem 0;
                padding: 0.6rem 0.6rem;
                letter-spacing: 0;
                border: 2px solid $primary-color;
                border-radius: 30px;
                cursor: pointer;
            }

            &_cvButton {
                background-color: transparent;
                text-decoration: none;
                color: $primary-color;
                transition:
                    background-color 0.2s ease-in-out,
                    color 0.2s ease-in-out;

                

                &:hover {
                    background-color: $primary-color;
                    color: $background-color;
                }
            }

            &_contactButton {
                background-color: $primary-color;
                color: $background-color;
                transition:
                    background-color 0.2s ease-in-out,
                    color 0.2s ease-in-out;

                &:hover {
                    background-color: $primary-color-hover;
                    border-color: $primary-color-hover;
                }
            }
        }

        &_linksWrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & a {
                @include poppins-semibold(3.15rem);
                color: $primary-color;
                text-decoration: none;
                cursor: pointer;

                &:first-of-type {
                    background-color: $primary-color;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.15rem;
                    padding: 0.5rem;
                    color: $background-color;
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .Home {
        gap: 1rem;
    }
}

@media screen and (max-height: 700px) and (max-width: 700px) {
    .Home {
        padding: 2rem 0 !important;
    }
}
