* {
  margin: 0%;
  padding: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100dvh;
}

#root {
  position: relative;
  min-height: inherit;

  & h1, h3, p {
    pointer-events: none;
  }
}